.countries{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

img{
    width: 200px;
}

.search{
    margin: 20px;
}
.darkModeWhite{
    
    color: white !important;

    background-color : hsl(207, 26%, 17%) !important;
   
}